<application
            >

            <activity android:name=".MainActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

            <activity android:name=".SettingsActivity" />

            <activity android:name=".ColorPickerActivity" />

            <service
                android:name=".OverlayService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="connectedDevice" 
                tools:targetApi="p" />
        </application>
    </manifest>
